@charset "UTF-8";
/* CSS Document */


.topstory div {
    z-index:8;
}

.topstory div.active {
    z-index:10;
}

.topstory div.last-active {
    z-index:9;
}

.topstory .mousetxt {color:#F60;font-size:12px;}


.topstory {
	width:680px;
	height:330px;
	padding:0px;
	margin:0px;
	position:absolute;
	top:0px;
	left:0px;
	line-height:1.3em;
}
.topstory-box-img {
	opacity:0;
	width:320px;
	height:auto;
	float:left;
	padding:5px;
	margin:5px;
	color:#333;
}
.topstory-box-img img {max-width:300px;
max-height:300px;}

.topstory-box-txt {
	opacity:0;
	font-size:14px;
	width:320px;
	height:auto;
	float:right;
	padding:5px;
	margin:5px;
	color:#333;
}
.topstory h1 {
	font-size:34px;
	line-height:1.0em !important;
	color:#333;
	letter-spacing:-0.1em;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;margin:0px;
}
.topstory h1 a {
	color:#666;
	font-weight:normal;
}
.topstory a {
	color:#666;
	font-weight:normal;
}
.topstory a:hover {
	color:#000;
}
